@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.flip-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:#36454F;
  width: 50rem;
  margin-top: 5rem;
  height: 22rem;
  margin-left: auto;
  margin-right: auto;
  perspective: 1000px; 
}
.form-label {
  margin: 1em;
}
.form-input {
  margin-left:1rem;
  margin-right:0.2rem;
  height: 2em;
  width: 10em;
  border-radius: 0.5em;
  padding:0.2rem;
}
.correct {
  background-color: rgb(35, 175, 35);
  color:white;
}
.incorrect {
  background-color:rgb(209, 109, 109);
  color: white;
}
.form-button {
   height: 2rem;
  width: 10em;
  border-radius: 0.5rem;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.answer {
  color: white;
  margin-top: 10em;
}
.buttons {

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.back-button {
  margin-left: 2em;
  margin-bottom: 1em;
  font-size: 200;
}
.forward-button {
  margin-right: 2em;
  margin-bottom: 1em;
}
.flip-card-back {
  background-color:green ;
  color: white;
  transform: rotateY(180deg);
} 
.fact {
  color: white;
  margin-top: 10em;
  margin-left: 1rem;
  margin-right: 1rem;
}
.ViewAnswer {
  background-color:greenyellow;
  margin-bottom: 1em;
  width: 10rem;
  height: 3rem;
  padding-top: 1.4rem;
  border-radius: 2em;



}
.ViewAnswer:hover {
  background-color: rgb(199, 225, 160);
}
.form {
  margin-top: 1rem;

}
